.esm-cache/
node_modules/
test/testProject1/graphQL/
test/testProject2/graphQL/
test/testProject3/graphQL/
test/testProject4/graphQL/
test/testProject5/graphQL/
test/testProject6/graphQL/
test/testProject7/graphQL/
test/testProject8/graphQL/
test/testProject9/graphQL
test/testProject10/graphQL
test/testProject-ts/graphQL
coverage/
graphql-types.ts
data
.env
test/testProject1a/graphQL
test/testProject11/graphQL
test/testProject12/graphQL
test/testProject1a/test/testProject1a/graphQL
